[Unit]
Description=My jupyter server baby!
After=network-online.target

[Service]
ExecStart=/home/pawel/bin/jupyterserver.sh
User=pawel
WorkingDirectory=/home/pawel/notes/dev/notebooks

[Install]
WantedBy=default.target
